# Terraform

.terraform/
*.tfstate
.tfstate.backup
crash.log

# Sensitive Variables

*.tfvars
*.tfvars.json
terraform.tfvars

# CLI Config Files

.terraformrc
terraform.rc

# Logs & Debug

*.log

# OS Files

.DS_Store
Thumbs.db

# IDE / Editor

.vscode/
.idea/
*.swp
*.swo

# Misc

*.zip